.djf-about-size {

    padding: 2rem;

}

.djf-about-text {

    /*color: rgb(233, 227, 206);*/

    color: rgb(27,57,2);

    font-weight: bolder;
    font-size: 2rem;

}

.djf-about-text-a {

    color: rgb(27,57,2);
    background-color: rgba(233, 227, 206, .5);

}

.djf-about-text-a:hover {

    color: inherit;

}
