#djf-welcome {

    color: floralwhite;

}

.nav-link {

    color: floralwhite;
    text-decoration: underline;

}

#test{

    color:blue;
}

#djf-nav {

    background-color: darkolivegreen;

}

body {

    background-color: floralwhite;


}

.djf-menu-item {

    color:darkolivegreen;



}